
#stworzony{
  width:250px;
  height:250px;
  text-align: center;
  border: 1px solid black;
}
#stworzony img{
  height:100px;
  width:100px;
  padding-top: 30px;
}
#formularz {
  background-color: pink;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px; 
  margin: 0 auto; 
}

#formularz input {
  margin-bottom: 10px;
}
.container{
  text-align: center;
} 
.card{
  text-align: center;
  justify-content: center;
  margin-left: 75px;
  margin-top: 10px;
}